// это используется только тут
@use '@kosyanmedia/devcom-spec-uikit/dist/utils/utils.scss' as uikit;
@use 'sass:list';
@use 'sass:math';
@use 'sass:meta';

// это прокидывается дальше
@forward '@kosyanmedia/devcom-spec-uikit/dist/utils/utils.scss';

// тут расширение китовых миксинов dpx и mpx
// на поддрежку форматов:
// padding: dpx(10)
// padding: dpx(10 20 30 40)
// padding: dpx(10 20 30 40, 1920)
@function dpx($val, $factor: 1920) {
  $list: ();
  @each $value in $val {
    @if $value == 0 {
      $list: list.append($list, 0);
    } @else {
      $list: list.append($list, uikit.dpx($value, $factor));
    }
  }
  @return $list;
}

@function mpx($val, $factor: 375) {
  $list: ();
  @each $value in $val {
    @if $value == 0 {
      $list: list.append($list, 0);
    } @else {
      $list: list.append($list, uikit.mpx($value, $factor));
    }
  }
  @return $list;
}
