.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  @include desktop {
    padding-top: dpx(78);
  }
}

.content {
  position: relative;

  @include desktop {
    display: grid;
    grid-template-columns: 956fr 964fr;
    width: 100%;
    height: 100%;
  }

  @include mobile {
    padding: mpx(80 20);
  }
}

.bodyWrap {
  @include desktop {
    display: grid;
    justify-content: end;
    background-image: image('dotsPattern.png');
    background-size: dpx(228.65);
    background-position: right center;
  }
}

.body {
  @include desktop {
    display: grid;
    align-content: center;
    width: dpx(847);
    height: 100%;
    padding-bottom: dpx(184);
    border-left: dpx(2) solid #002d50;
    border-right: dpx(2) solid #002d50;
    background: #f5f3f0;
  }
}

.titleWrap {
  display: grid;
  text-align: center;

  @include desktop {
    grid-template-columns: 1fr dpx(327) 1fr;
    margin-bottom: dpx(35);
    border-bottom: dpx(2) solid #002d50;
  }

  > * {
    display: grid;
    justify-content: center;
    align-content: center;

    @include desktop {
      height: dpx(224);
    }
  }
}

.titleMain {
  @include desktop {
    grid-column: span 3 / span 3;
    border-bottom: dpx(2) solid #002d50;
  }
}

.titleMainContent {
  color: #002d50;
  font-family: 'Bebas Neue', 'Inter', sans-serif;
  font-weight: 700;
  line-height: 90%;
  text-transform: uppercase;

  @include desktop {
    margin-top: dpx(16);
    font-size: dpx(240);
    letter-spacing: dpx(4.8);
  }

  @include mobile {
    font-size: mpx(28);
  }
}

.glass {
  display: block;

  @include desktop {
    width: dpx(176);
    height: dpx(189);
  }
}

.titleSec {
  @include desktop {
    border-left: dpx(2) solid #002d50;
    border-right: dpx(2) solid #002d50;
  }
}

.titleSecContent {
  color: #002d50;
  font-family: 'Bebas Neue', 'Inter', sans-serif;
  font-weight: 700;
  line-height: 90%;
  text-transform: uppercase;

  @include desktop {
    margin-top: dpx(16);
    font-size: dpx(240);
    letter-spacing: dpx(-4.8);
  }
}

.homeCircles {
  @include desktop {
    width: dpx(85);
    height: dpx(203);
  }
}

.text {
  text-align: center;
  line-height: 140%;

  @include desktop {
    width: dpx(698);
    margin: 0 auto dpx(48);
    font-size: dpx(24);
  }

  @include mobile {
    margin-bottom: mpx(24);
    font-size: mpx(15);
  }
}

.actions {
  display: grid;

  @include desktop {
    gap: dpx(24);
    width: dpx(376);
    margin: auto;
  }

  @include mobile {
    gap: mpx(20);
  }
}

.toResultBtn {
  border: none;
  background: none;
  outline: none;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;

  @include desktop {
    font-size: dpx(24);
    cursor: pointer;
    transition: opacity var(--transition-main);

    &:hover {
      opacity: 0.8;
    }
  }
}

.partyWrap {
  @include desktop {
    display: grid;
    align-items: center;
  }
}

.partyContent {
  position: relative;

  @include desktop {
    width: dpx(963);
    height: dpx(900);
  }
}

.partyBack {
  position: absolute;
  display: block;

  @include desktop {
    left: dpx(123);
    bottom: dpx(-266);
    width: dpx(728);
    height: dpx(730);
  }
}

.partyDots {
  position: absolute;

  @include desktop {
    left: 0;
    top: dpx(672);
    width: 100vw;
    height: 100vh;
    background-image: image('dotsPattern.png');
    background-size: dpx(228.65);
    background-position: left top;
  }
}

.partyCircles {
  position: absolute;
  display: block;

  @include desktop {
    left: dpx(88);
    bottom: dpx(11);
    width: dpx(791);
    height: dpx(888);
  }
}

.homeStars {
  position: absolute;
  display: block;

  @include desktop {
    left: dpx(278);
    top: dpx(12);
    width: dpx(455);
    height: dpx(484);
  }
}

.homeBall {
  position: absolute;
  display: block;

  @include desktop {
    left: dpx(266);
    top: dpx(9);
    width: dpx(538);
    height: dpx(693);
  }
}

.homeMan {
  position: absolute;
  display: block;

  @include desktop {
    left: dpx(117);
    top: dpx(99);
    width: dpx(744);
    height: dpx(779);
  }
}

.homeCats {
  position: absolute;
  display: block;

  @include desktop {
    left: dpx(177);
    top: dpx(423);
    width: dpx(627);
    height: dpx(465);
  }
}
