.preloader {
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: var(--font-color-main, #161618);
  text-align: center;
  background: var(--background-color-main, #b2def7);
  overflow: hidden;
}

.progressValue {
  @include desktop {
    font-size: dpx(34);
  }
  @include mobile {
    font-size: mpx(24);
  }
}
