.cookies {
  --cookies-bg-color: #fff;
  --cookies-text-color: #000000;
  --cookies-link-color: #00afaa;
  --cookies-button-bg-color: #e7c37d;
  --cookies-button-text-color: #000000;

  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 100010;
  background: var(--cookies-bg-color);

  @include desktop {
    justify-content: center;
    gap: dpx(16);
    left: dpx(107);
    right: dpx(963);
    width: dpx(846);
    padding: dpx(12 24);
    border-top: dpx(2) solid #002d50;
    border-right: dpx(2) solid #002d50;
    border-left: dpx(2) solid #002d50;
  }

  @include mobile {
    gap: mpx(16);
    width: 100%;
    padding: mpx(12 24);
    border-radius: mpx(12 12 0 0);
  }
}

.text {
  color: var(--cookies-text-color);
  font-weight: 500;
  line-height: 145%;

  @include desktop {
    font-size: dpx(13);
  }

  @include mobile {
    font-size: mpx(13);
  }
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--cookies-button-bg-color);
  color: var(--cookies-button-text-color);
  font-weight: 500;
  line-height: 130%;
  outline: none;
  border: none;

  @include desktop {
    width: dpx(74);
    height: dpx(31);
    font-size: dpx(14);
    letter-spacing: dpx(-0.3);
    border-radius: dpx(8);
    cursor: pointer;
    transition: opacity var(--transition-main);

    &:hover {
      opacity: 0.8;
    }
  }

  @include mobile {
    width: mpx(74);
    height: mpx(38);
    font-size: mpx(14);
    border-radius: mpx(8);
  }
}
