@mixin button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  flex: 0 0 auto;
  color: var(--button-font-color);
  font-weight: 600;
  text-decoration: none;
  white-space: nowrap;
  background: var(--button-background-color);
  border: none;
  transition: var(--transition-main);
  transition-property: background, color;

  @include desktop {
    gap: dpx(32);
    padding: dpx(16 24);
    height: dpx(82);
    font-size: dpx(26);
    border-radius: dpx(64);
    cursor: pointer;

    &:hover {
      color: var(--button-font-color-hover);
      background: var(--button-background-color-hover);
      text-decoration: none;
    }
    &:active {
      color: var(--button-font-color-active);
      background: var(--button-background-color-active);
    }
  }

  @include mobile {
    gap: mpx(4);
    width: 100%;
    height: mpx(52);
    padding: mpx(16 40);
    font-size: mpx(16);
    border-radius: mpx(16);
  }
}

.button,
a.button {
  --button-font-color: #ffffff;
  --button-font-color-hover: #ffffff;
  --button-font-color-active: #ffffff;
  --button-background-color: #e9511d;
  --button-background-color-hover: #cc3400;
  --button-background-color-active: #cc3400;
  @include button;
}

.buttonGlow {
  position: relative;
  overflow: hidden;
}

@keyframes glowAnim {
  40%,
  100% {
    transform: translateX(100%);
  }
}

.glow {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  svg {
    height: 100%;
    width: 100%;
    transform: translateX(-100%);
    animation: glowAnim 3s ease-in-out infinite;
  }
}

.disabled,
a.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.blue,
a.blue {
  --button-background-color: #002d50;
  --button-background-color-hover: #000;
  --button-background-color-active: #000;
}
