@mixin button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  flex: 0 0 auto;
  position: relative;
  color: var(--button-font-color);
  font-weight: 600;
  text-decoration: none;
  white-space: nowrap;
  background: var(--button-background-color);
  border: none;
  transition: var(--transition-main);
  transition-property: background, color;

  @include desktop {
    gap: dpx(32);
    padding: dpxRound(16 24);
    height: dpxRound(82);
    font-size: dpx(26);
    cursor: pointer;

    &:hover {
      color: var(--button-font-color-hover);
      background: var(--button-background-color-hover);
      text-decoration: none;
      opacity: 1;

      .outline {
        border-color: #e9511d;
      }
    }
  }

  @include mobile {
    gap: mpx(4);
    width: 100%;
    height: mpxRound(56);
    padding: mpxRound(16 40);
    font-size: mpx(16);
  }

  &:active {
    color: var(--button-font-color-active);
    background: var(--button-background-color-active);

    transform: scale(0.95);
    .outline {
      transform: scale(1.05);
    }
  }

  &,
  & .glowWrap {
    @include desktop {
      border-radius: dpx(64);
    }
    @include mobile {
      border-radius: mpx(64);
    }
  }
}

.button,
a.button {
  --button-font-color: #ffffff;
  --button-font-color-hover: #ffffff;
  --button-font-color-active: #ffffff;
  --button-background-color: #e9511d;
  --button-background-color-hover: #cc3400;
  --button-background-color-active: #cc3400;
  @include button;
}

.outline {
  position: absolute;

  @include desktop {
    left: dpxRound(-8);
    top: dpxRound(-8);
    right: dpxRound(-8);
    bottom: dpxRound(-8);
    border: dpx(2) solid #002d50;
    border-radius: dpx(56);
    transition: var(--transition-main);
    transition-property: border;
  }

  @include mobile {
    left: mpxRound(-8);
    top: mpxRound(-8);
    right: mpxRound(-8);
    bottom: mpxRound(-8);
    border: mpx(1) solid #002d50;
    border-radius: mpx(56);
  }
}

.children {
  position: relative;
  display: flex;

  @include desktop {
    gap: dpx(32);
  }

  @include mobile {
    gap: mpx(16);
  }
}

.arrow {
  display: inline-block;

  @include desktop {
    width: dpx(28);
    height: dpx(28);
    margin-top: dpx(2);
  }

  @include mobile {
    width: mpx(24);
    height: mpx(24);
    margin-top: mpx(-2);
  }
}

.buttonGlow {
  position: relative;
}

@keyframes glowAnim {
  40%,
  100% {
    transform: translateX(100%);
  }
}

.glowWrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.glow {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  svg {
    height: 100%;
    width: 100%;
    transform: translateX(-100%);
    animation: glowAnim 3s ease-in-out infinite;
  }
}

.disabled,
a.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.blue,
a.blue {
  --button-background-color: #002d50;
  --button-background-color-hover: #000;
  --button-background-color-active: #000;

  @include desktop {
    &:hover {
      .outline {
        border-color: #000;
      }
    }
  }
}
