@import '../Button/Button.module';

$contentWidth: 480;
$contentWidthMob: 375;
$contentPaddingMob: 20;

.title {
  color: #002d50;
  font-family: 'Bebas Neue', 'Inter', sans-serif;
  font-weight: 700;
  line-height: 100%;

  @include desktop {
    margin-bottom: dpx(16);
    font-size: dpx(80);
  }

  @include mobile {
    margin-bottom: mpx(16);
  }
}

.text {
  line-height: 140%;

  @include desktop {
    font-size: dpx(28);
  }

  @include mobile {
    margin-bottom: mpx(16);
  }
}

.register {
  @include desktop {
    display: grid;
    grid-template-columns: 1fr dpx($contentWidth);
    gap: dpx(40);
    margin: auto;
    padding-right: dpx(64);
  }
}

.registerBody {
  .text {
    @include desktop {
      width: dpx(562);
    }
  }
}

//
.partyLeft {
  @include desktop {
    position: absolute;
    left: dpx(127);
    bottom: dpx(54.87);
    perspective: 500px;
  }
}

.giveawayCatGray {
  @include desktop {
    display: block;
    position: absolute;
    left: dpx(0);
    bottom: dpx(0);
    width: dpx(241.24);
    height: dpx(423.13);
    transition: transform 0.12s ease-in-out;
    will-change: transform;
  }
}

.partyRight {
  @include desktop {
    position: absolute;
    left: dpx(326);
    bottom: dpx(40);
    perspective: 500px;
  }
}

.partyRightBox {
  @include desktop {
    position: absolute;
    left: dpx(0);
    bottom: dpx(0);
    width: dpx(349);
    height: dpx(157);
  }
}

@keyframes loaderStarBigAnim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loaderStarBig {
  @include desktop {
    display: block;
    position: absolute;
    left: dpx(222.59);
    bottom: dpx(260.11);
    width: dpx(181.89);
    height: dpx(181.89);
    animation: loaderStarBigAnim 30s linear infinite;
  }
}

.giveawayCatRed {
  @include desktop {
    display: block;
    position: absolute;
    left: dpx(42);
    bottom: dpx(126);
    width: dpx(242);
    height: dpx(295);
    transform-origin: 62% 50%;
    transition: transform 0.2s ease-in-out;
    will-change: transform;
  }
}

.catTurned {
  @include desktop {
    transform: rotateY(-180deg);
    &.giveawayCatGray {
      transform: rotateY(180deg);
    }
  }
}

// Giveaway
.wrap {
  --black: #000;
  --error: #ff0c00;

  position: relative;

  @include desktop {
    width: dpx($contentWidth);
    min-height: dpx(526);
  }

  @include mobile {
    width: mpx($contentWidthMob);
    margin: mpx(0 $contentPaddingMob * -1);
  }

  > div {
    @include mobile {
      display: grid;
      gap: mpx($contentPaddingMob * 2);
      padding: mpx(0 $contentPaddingMob);
      grid-template-columns: repeat(2, mpx($contentWidthMob - $contentPaddingMob * 2));
      overflow: visible;
    }
  }

  > div:not([class*='_subscriptionsForm']) {
    @include mobile {
      width: mpx($contentWidthMob * 2);
    }
  }
}

.giveawayStep {
  display: grid;
  justify-content: center;
  align-content: center;
  position: absolute;
  right: 0;
  top: 0;

  @include desktop {
    width: dpx(128);
    height: dpx(50);
    border-left: dpx(2) solid var(--Deep-Blue, #002d50);
    border-bottom: dpx(2) solid var(--Deep-Blue, #002d50);
    border-radius: dpx(0 48);
  }

  p {
    color: #000000;
    font-weight: 400;

    @include mobile {
      font-size: mpx(24) !important;
    }
  }
}

.giveawayEmailFormText {
  @include desktop {
    gap: dpx(0);
  }
}

.giveawayEmailFormText h2,
.giveawayShareFormTitle {
  font-family: 'Bebas Neue', 'Inter', sans-serif;
  font-weight: 700;

  @include desktop {
    font-size: dpx(40) !important;
    line-height: dpx(48);
  }

  @include mobile {
    font-size: mpx(18) !important;
  }
}

.giveawayEmailFormText p,
.giveawayShareFormText {
  @include desktop {
    font-size: dpx(20) !important;
  }

  @include mobile {
    font-size: mpx(13) !important;
  }
}

// forms
.giveawayEmailForm,
.giveawayShareForm {
  transition-property: left, top, transform, opacity;

  @include desktop {
    padding: dpx(66 40 40);
    border: dpx(2) solid var(--Deep-Blue, #002d50);
    border-radius: dpx(48);
  }

  @include mobile {
    position: unset;
    width: 100%;
    border-radius: mpx(16);
  }
}

// giveawayEmailForm
.giveawayEmailForm {
  @include desktop {
    gap: dpx(24);
    top: 0;
    width: dpx($contentWidth);
    opacity: 0;
  }

  @include mobile {
    gap: mpx(12);
    padding: mpx(16);
    transform: translateX(mpx(-$contentWidthMob));
  }

  &[class*='_emailActive'] {
    @include desktop {
      top: dpx(58);
      opacity: 1;
    }
    @include mobile {
      transform: translateX(0);
    }
  }
}

.giveawayEmailFormInput {
  color: var(--black);
  font-weight: 400;
  line-height: 130%;
  border: 1px solid var(--black);
  background: #fff;

  @include desktop {
    font-size: dpx(20);
    padding: dpx(24 30);
    border: dpx(2) solid var(--Deep-Blue, #002d50);
    border-radius: dpx(64);
  }

  @include mobile {
    font-size: mpx(14);
    border-radius: mpx(8);
    padding: mpx(17 19);
  }

  &:hover,
  &:focus {
    background: #fff;
  }
  &::placeholder {
    color: #999;
    opacity: 1;
  }
  &[class*='_error'] {
    border-color: var(--error);
    outline: none;
  }
}

.giveawayEmailForm div[class^='_wrapper']::after,
.giveawayEmailForm p[class*='_errorText'] {
  display: block;
  position: relative;
  bottom: auto;
  height: auto;
  margin: 0;
  color: #f5323e;
  font-weight: 500;
  line-height: 130%;
  text-align-last: left;

  @include desktop {
    padding-left: dpx(4);
    font-size: dpx(13);
  }

  @include mobile {
    padding-left: mpx(4);
    font-size: mpx(13);
  }
}

.giveawayEmailFormCheckbox {
  margin: 0;
  order: 2;

  @include desktop {
    gap: dpx(12);
  }

  @include mobile {
    gap: mpx(12);
  }

  span {
    border: 1px solid var(--black) !important;
    background-color: #fff;

    @include desktop {
      width: dpx(32);
      height: dpx(32);
      border-radius: dpx(5) !important;
    }

    @include mobile {
      width: mpx(32);
      height: mpx(32);
      border-width: mpx(2);
      border-radius: mpx(5) !important;
    }
  }

  &[class*='_checked'] {
    span {
      $color: '000';
      background-color: #fff !important;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='14' fill='none' viewBox='0 0 19 14'%3E%3Cpath stroke='%23#{$color}' stroke-linejoin='bevel' stroke-width='3.333' d='m2 7 5 5L17 2'/%3E%3C/svg%3E");

      @include desktop {
        background-size: dpx(19 14);
      }

      @include mobile {
        background-size: mpx(19 14);
      }
    }
  }

  > div {
    align-self: center;
  }

  p {
    @include desktop {
      font-size: dpx(16) !important;
    }

    @include mobile {
      font-size: mpx(13) !important;
    }
  }

  a {
    font-weight: 400;
    text-decoration: underline;
  }
}

.giveawayEmailFormCheckbox[class*='_error'] {
  span {
    border-color: var(--error) !important;
  }
  a {
    color: var(--error);
  }
}

.giveawayEmailFormButton {
  --button-font-color: #ffffff;
  --button-font-color-hover: #ffffff;
  --button-font-color-active: #ffffff;
  --button-background-color: #e9511d;
  --button-background-color-hover: #cc3400;
  --button-background-color-active: #cc3400;

  @include button;

  order: 1;

  @include mobile {
    &:hover {
      color: var(--button-font-color);
      background: var(--button-background-color);
    }
    &:active {
      color: var(--button-font-color-active);
      background: var(--button-background-color-active);
    }
  }
}

// shares
.giveawayShareForm {
  @include desktop {
    gap: dpx(20);
    width: dpx($contentWidth);
    left: dpx(48);
    top: 0;
  }

  @include mobile {
    gap: mpx(12);
    padding: mpx(16);
    transform: translateX(0);
  }

  &[class*='_shareActive'] {
    @include desktop {
      left: 0;
      top: dpx(58);
    }

    @include mobile {
      transform: translateX(mpx(-$contentWidthMob));
    }
  }
}

.giveawayShareFormLinkContainer {
  @include desktop {
    gap: dpx(16);
  }

  @include mobile {
    justify-content: flex-start;
    gap: mpx(16);
  }
}

.giveawayShareFormLink {
  img,
  svg {
    display: block;

    @include desktop {
      width: dpx(64);
      height: dpx(64);
    }

    @include mobile {
      width: mpx(40);
      height: mpx(40);
    }
  }

  svg {
    overflow: visible;

    rect {
      fill: #002d50;
    }
  }
}

button.giveawayShareFormLink {
  // button tooltip
  // you can use browser `Pause script execution` after click to debug it
  [class*='_tooltip_'] {
    @include desktop {
      margin-bottom: dpx(8);
      padding: dpx(8);
      border-radius: dpx(10);
    }

    @include mobile {
      margin-bottom: mpx(8);
      padding: mpx(8);
      border-radius: mpx(10);
    }

    svg {
      display: none;
    }
  }

  [class*='_tooltipText'] {
    margin: 0;

    @include desktop {
      font-size: dpx(14);
    }

    @include mobile {
      font-size: mpx(14);
    }
  }
}

// .giveawayShareFormLinkContainer {
//   > *:nth-child(1) {
//     .giveawayShareFormLink {
//     }
//   }
//   > *:nth-child(2) {
//     .giveawayShareFormLink {
//     }
//   }
//   > *:nth-child(3) {
//     .giveawayShareFormLink {
//     }
//   }
//   > *:nth-child(4) {
//   }
// }

// SubscriptionsForm
.subscriptionsForm {
  gap: 0 !important;

  @include mobile {
    padding: 0;
  }
}

.subscriptionsFormSubs {
  @include desktop {
    gap: dpx(16);
    grid-template-columns: 1fr 1fr;
  }

  @include mobile {
    gap: mpx(16);
    grid-template-columns: 100%;
  }
}

.subscriptionsFormSub {
  justify-content: space-between;
  background: #fff;

  @include desktop {
    gap: dpx(12);
    padding: dpx(16);
  }

  @include mobile {
    gap: mpx(12);
    padding: mpx(16);
    border-radius: mpx(16);
  }
}

.subscriptionsFormTitle p {
  @include desktop {
    font-size: dpx(20) !important;
  }

  @include mobile {
    font-size: mpx(20) !important;
  }
}

.subscriptionsFormBulletPoints {
  @include desktop {
    gap: dpx(6);
  }

  @include mobile {
    gap: mpx(6);
  }

  // li::before
  //   display: none

  li {
    letter-spacing: normal;

    @include desktop {
      font-size: dpx(14) !important;
    }

    @include mobile {
      font-size: mpx(14) !important;
    }
  }
}

.subscriptionsFormButton {
  font-weight: 600;
  line-height: normal;

  @include desktop {
    padding: dpx(8 10);
    font-size: dpx(14);
    cursor: pointer;
  }

  @include mobile {
    padding: mpx(6 10 7);
    font-size: mpx(14);
    border-radius: mpx(8);
  }
}

.subscriptionsFormButtonDone {
  cursor: default !important;
  pointer-events: none !important;
  opacity: 0.6 !important;
}

// .subscriptionsFormSub:last-child
//   .subscriptionsFormBulletPoints
//     li::before
//       color: #4BD0A0
//   .subscriptionsFormButton
//     background: #4BD0A0
//     +desktop
//       &:hover,
//       &:active
//         background: #4BD0A0cc
//     +mobile
//       background: #4BD0A0

// winners
.winnersTitle {
  font-weight: 700;
  line-height: normal;

  @include desktop {
    margin-bottom: dpx(12);
    font-size: dpx(20);
  }

  @include mobile {
    margin-bottom: mpx(12);
    font-size: mpx(20);
  }
}

.winnersList {
  display: flex;

  @include desktop {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: dpx(4);
    margin-bottom: dpx(12);
  }

  @include mobile {
    flex-direction: column;
    align-items: flex-start;
    gap: mpx(4);
    margin-bottom: mpx(12);
  }
}

.winner {
  background: rgba(255, 255, 255, 0.6);

  @include desktop {
    padding: dpx(8 12);
    border-radius: dpx(8);
    font-size: dpx(20);
  }

  @include mobile {
    padding: mpx(8 12);
    border-radius: mpx(8);
    font-size: mpx(20);
  }
}

.winnersActions {
  a {
    color: #0c73fe;
    font-weight: 400;
    text-decoration: none;
  }
}
