.header {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: #f5f3f0;

  @include desktop {
    height: dpx(80);
    border-bottom: dpx(2) solid #002d50;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  @include desktop {
    width: dpx(1920);
    padding: dpx(12 42);
  }

  @include mobile {
    padding-top: mpx(16);
    width: mpx(343);
  }
}

.logos {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @include desktop {
    gap: dpx(16);
  }

  @include mobile {
    gap: mpx(8);
  }
}

.logoLink {
  transition: opacity var(--transition-main);

  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.4;
  }
}

.aviasalesLogoImg {
  display: block;

  @include desktop {
    width: dpx(134.4);
    height: dpx(28.07);
  }

  @include mobile {
    width: mpx(97);
    height: mpx(20);
  }
}

.clientLogoImg {
  display: block;

  @include desktop {
    width: dpx(64);
    height: dpx(28);
  }

  @include mobile {
    width: mpx(97);
    height: mpx(20);
  }
}

.cross {
  display: block;
  overflow: visible;

  @include desktop {
    width: dpx(10);
    height: dpx(10);
  }

  @include mobile {
    width: mpx(8);
    height: mpx(8);
  }
}

.rulesLink {
  display: block;
  color: #3c2f2e;
  font-weight: 400;
  line-height: 130%;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.7);

  @include desktop {
    padding: dpx(6 16);
    font-size: dpx(16);
    border-radius: dpx(32);

    &:hover {
      color: #3c2f2e;
    }
  }

  @include mobile {
    font-size: mpx(12);
  }
}

// at home
// .screen-home {
//   .content {
//     @include desktop {
//       width: dpx(1620);
//       padding-top: dpx(100);
//     }
//   }
// }
