.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main {
  display: grid;
  align-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 0.4s ease-in-out;
  transition-property: transform, opacity;

  @include desktop {
    padding-top: dpx(25);
    background-image: image('gameBg.svg');
    background-position: center;
    background-size: dpx(3802 1782);
  }

  @include mobile {
    padding: mpx(48 0 168);
  }
}

.mainBgLeft,
.mainBgRight {
  position: absolute;
  margin: auto;

  @include desktop {
    background-image: image('dotsPattern.png');
    background-size: dpx(228.65);
    background-position: right center;
  }
}

.mainBgLeft {
  @include desktop {
    left: dpx(0 - 1283);
    top: dpx(923 - 859);
    right: dpx(2519 - 1283);
    bottom: dpx(0 - 859);
    width: dpx(1283);
    height: dpx(859);
  }
}
.mainBgRight {
  @include desktop {
    left: dpx(2613 - 1189);
    top: dpx(760 - 1022);
    right: dpx(0 - 1189);
    bottom: dpx(0 - 1022);
    width: dpx(1189);
    height: dpx(1022);
  }
}

.mainBgBottom {
  @include mobile {
    display: grid;
    grid-template-columns: calc(50% + #{mpx(66)}) calc(50% - #{mpx(66)});
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: mpx(125.5);
    border-top: mpx(1) solid #002d50;
  }
}

.mainBgBottomLeft {
  @include mobile {
    position: relative;
    border-right: mpx(1) solid #002d50;
  }
}

.mainBgBottomLeftDots {
  @include mobile {
    position: absolute;
    left: 0;
    top: 0;
    right: mpx(62);
    height: 100%;
    background-image: image('dotsPattern.png');
    background-size: dpx(124.5);
    background-position: right center;
  }
}

.gameBgCirclesMob {
  @include mobile {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
  }
}

.mainBgBottomRight {
  @include mobile {
    position: relative;
  }
}

.glassMob {
  @include mobile {
    display: block;
    position: absolute;
    left: mpx(22);
    top: mpx(19);
    width: mpx(80);
    height: mpx(86);
  }
}

.gameBgMob {
  @include mobile {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: mpx(235);
    bottom: mpx(138);
    margin: auto;
    width: mpx(307);
    height: mpx(294);
  }
}

.mainHidding {
  opacity: 0;
  transform: translateY(-10vh);
  pointer-events: none;
}

@keyframes mainContentAnim {
  100% {
    opacity: 1;
    transform: none;
  }
}
.mainContent {
  position: relative;
  opacity: 0;
  transform: translateY(-2vh);
  animation: mainContentAnim 0.6s ease-in-out 0.2s forwards;
}

.title {
  font-weight: 700;
  line-height: 130%;
  text-align: center;

  @include desktop {
    margin-bottom: dpx(4);
    font-size: dpx(31);
  }

  @include mobile {
    width: mpx(323);
    margin: mpx(20) auto mpx(8);
    font-size: mpx(24);
  }
}

.subTitle {
  text-align: center;

  @include desktop {
    margin-bottom: dpx(56);
    font-size: dpx(24);
  }

  @include mobile {
    width: mpx(323);
    margin: 0 auto mpx(24);
    font-size: mpx(16);
  }
}

//
.selector {
  display: flex;
  justify-content: center;

  @include desktop {
    gap: dpx(60);
  }

  @include mobile {
    gap: mpx(16);
  }
}

.cardWrap {
  position: relative;
  transition: 0.4s cubic-bezier(0.3, 0.6, 0.4, 1.4);
  transition-property: transform, opacity;
  will-change: transform, opacity;
  backface-visibility: hidden;

  @include desktop {
    width: dpx(356);
    height: dpx(550);
  }

  @include mobile {
    width: mpx(158);
    height: mpx(244);
  }
}

.cardLeft {
  @include desktop {
    transform: rotate(-5deg);
  }
  @include mobile {
    transform: translate(mpx(-4), mpx(70)) rotate(-5deg);
  }
}

.cardRight {
  @include desktop {
    transform: translateY(dpx(-38)) rotate(5deg);
  }
  @include mobile {
    transform: rotate(5deg);
  }
}

.cardBody {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  overflow: hidden;

  @include desktop {
    padding: dpx(14);
    border: dpx(2) solid #000;
    border-radius: dpx(60);
    box-shadow: dpx(0 17.177 51.53 0) rgba(36, 33, 83, 0.15);
    transition: transform var(--transition-main);
    cursor: pointer;

    &:hover {
      transform: scale(1.01);
    }
  }

  @include mobile {
    padding: mpx(6);
    border: mpx(1) solid #002d50;
    border-radius: mpx(26);
    box-shadow: mpx(0 7.62 22.859 0) rgba(36, 33, 83, 0.15);
  }
}

.cardImgWrap {
  position: absolute;

  @include desktop {
    left: dpx(14);
    top: dpx(14);
    right: dpx(14);
    bottom: dpx(14);
  }

  @include mobile {
    left: mpx(6);
    top: mpx(6);
    right: mpx(6);
    bottom: mpx(6);
  }
}

.cardImg {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  object-fit: cover;

  @include desktop {
    border-radius: dpx(48);
  }

  @include mobile {
    border-radius: mpx(22);
  }
}

.cardTitle {
  display: grid;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
  line-height: 130%;
  background: #ffe5f1;

  @include desktop {
    left: dpx(14);
    right: dpx(14);
    bottom: dpx(14);
    height: dpx(108);
    padding: dpx(20 22);
    font-size: dpx(24);
    border: dpx(2) solid #000;
    border-radius: dpx(46);
  }

  @include mobile {
    left: mpx(6);
    right: mpx(6);
    bottom: mpx(6);
    height: mpx(56);
    font-size: mpx(12);
    padding: mpx(8);
    border: mpx(1) solid #000;
    border-radius: mpx(22);
  }
}

.cardSelected,
.cardHidden {
  pointer-events: none;
}

.cardHidden {
  opacity: 0;

  &.cardLeft {
    transform: translateX(-100%) rotate(-20deg) scale(0.8);
  }
  &.cardRight {
    transform: translateX(100%) rotate(20deg) scale(0.8);
  }
}

.cardSelected {
  &.cardLeft {
    transform: translateX(32%) rotate(2deg) scale(1.2);
  }
  &.cardRight {
    transform: translateX(-32%) rotate(-2deg) scale(1.2);
  }
}

.cardSelected {
  .cardGlow {
    opacity: 1;
  }
}

//
.ending {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 0.4s ease-in-out;
  transition-property: transform, opacity;

  @include desktop {
    padding-top: dpx(104);
  }

  @include mobile {
    padding-top: mpx(48);
  }
}

.endingHidding {
  opacity: 0;
  transform: translateY(10vh);
  pointer-events: none;
}

.endingTitle {
  color: #002d50;
  font-family: 'Bebas Neue', 'Inter', sans-serif;
  font-weight: 700;
  line-height: 100%;
  text-align: center;

  @include desktop {
    margin-bottom: dpx(15);
    font-size: dpx(104);
  }

  @include mobile {
    margin-bottom: mpx(21);
    font-size: mpx(62);
  }
}

.emdingImageWrap {
  position: relative;

  @include desktop {
    width: dpx(720);
    height: dpx(622);
  }

  @include mobile {
    width: mpx(375);
    height: mpx(383);
  }

  > * {
    display: block;
    position: absolute;
  }
}

@keyframes loaderStarSmallAnim {
  0%,
  100% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
}
.loaderStarSmall {
  animation: loaderStarSmallAnim 6s ease-in-out infinite;

  @include desktop {
    left: dpx(249);
    top: dpx(0);
    width: dpx(102);
    height: dpx(102);
  }

  @include mobile {
    left: mpx(118);
    top: mpx(0);
    width: mpx(64);
    height: mpx(64);
  }
}

.loaderStarMid {
  animation: loaderStarSmallAnim 5s ease-in-out infinite;

  @include desktop {
    left: dpx(135.98);
    top: dpx(403.98);
    width: dpx(160);
    height: dpx(160);
  }

  @include mobile {
    left: mpx(48.01);
    top: mpx(250.01);
    width: mpx(98);
    height: mpx(98);
  }
}

@keyframes loaderStarBigAnim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loaderStarBig {
  animation: loaderStarBigAnim 30s linear infinite;

  @include desktop {
    left: dpx(293);
    top: dpx(220);
    width: dpx(332);
    height: dpx(332);
  }

  @include mobile {
    left: mpx(146);
    top: mpx(138);
    width: mpx(205);
    height: mpx(205);
  }
}

.loaderAnim {
  left: 50%;
  transform: translateX(-50%);

  @include desktop {
    top: dpx(57);
    height: dpx(565);
  }

  @include mobile {
    top: mpx(31);
    height: mpx(352);
  }
}
