.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  @include mobile {
    justify-content: flex-end;
    min-height: mpx(667);
  }
}

.main {
  display: grid;
  align-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 0.4s ease-in-out;
  transition-property: transform, opacity;

  @include desktop {
    padding-top: dpx(25);
    background-image: image('gameBg.svg');
    background-position: center;
    background-size: dpx(3802 1782);
  }

  // @include mobile {
  //   padding-bottom: mpx(150);
  // }
}

.mainBgLeft,
.mainBgRight {
  position: absolute;
  margin: auto;

  @include desktop {
    background-image: image('dotsPattern.png');
    background-size: dpx(228.65);
    background-position: right center;
  }
}

.mainBgLeft {
  @include desktop {
    left: dpx(0 - 1283);
    top: dpx(923 - 859);
    right: dpx(2519 - 1283);
    bottom: dpx(0 - 859);
    width: dpx(1283);
    height: dpx(859);
  }
}
.mainBgRight {
  @include desktop {
    left: dpx(2613 - 1189);
    top: dpx(760 - 1022);
    right: dpx(0 - 1189);
    bottom: dpx(0 - 1022);
    width: dpx(1189);
    height: dpx(1022);
  }
}

.mainHidding {
  opacity: 0;
  transform: translateY(-10vh);
  pointer-events: none;
}

.progressWrap {
  display: flex;
  justify-content: center;
  align-items: center;

  @include desktop {
    gap: dpx(8);
    height: dpx(40);
    margin-bottom: dpx(43);
  }

  // @include mobile {
  //   gap: mpx(4);
  //   margin-bottom: mpx(38);
  // }
}

.progressBar {
  position: relative;

  @include desktop {
    width: dpx(440);
    height: dpx(16);
  }

  // @include mobile {
  //   width: mpx(285);
  //   height: mpx(8);
  // }
}

.progressBarBack {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #e9511d;
  opacity: 0.2;

  @include desktop {
    border-radius: dpx(20);
  }

  // @include mobile {
  //   border-radius: mpx(13);
  // }
}

.progressBarValue {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: #e9511d;
  transition: width 0.4s ease-in-out;

  @include desktop {
    border-radius: dpx(20);
  }

  // @include mobile {
  //   border-radius: mpx(100);
  // }
}

.progressStar {
  position: absolute;
  top: 50%;
  right: 0;

  @include desktop {
    width: dpx(37);
    height: dpx(35);
    transform: translate(50%, -60%);
  }

  // @include mobile {
  //   width: mpx(50);
  //   height: mpx(50);
  //   transform: translate(50%, -52%) ;
  // }
}

.progressCounter {
  font-weight: 500;
  text-align: right;
  white-space: nowrap;

  @include desktop {
    width: dpx(74);
    font-size: dpx(23);
  }

  // @include mobile {
  //   width: mpx(40);
  //   font-size: mpx(16);
  // }
}

.title {
  font-weight: 700;
  line-height: 130%;
  text-align: center;

  @include desktop {
    margin-bottom: dpx(4);
    font-size: dpx(31);
  }

  // @include mobile {
  //   margin-bottom: mpx(8);
  //   font-size: mpx(24);
  // }
}

.subTitle {
  text-align: center;

  @include desktop {
    margin-bottom: dpx(56);
    font-size: dpx(24);
  }

  // @include mobile {
  //   margin-bottom: mpx(32);
  //   font-size: mpx(16);
  // }
}

//
.selector {
  display: flex;
  justify-content: center;

  @include desktop {
    gap: dpx(60);
  }

  // @include mobile {
  //   gap: mpx(8);
  // }
}

.cardWrap {
  position: relative;
  transition: 0.4s cubic-bezier(0.3, 0.6, 0.5, 1.5);
  transition-property: transform, opacity;
  will-change: transform, opacity;
  backface-visibility: hidden;

  @include desktop {
    width: dpx(356);
    height: dpx(550);
  }

  // @include mobile {
  //   width: mpx(170);
  //   height: mpx(242);
  // }

  // @include hover {
  //   .cardGlow {
  //     opacity: 1;
  //   }
  // }
}

.cardLeft {
  @include desktop {
    transform: rotate(-5deg);
  }
}

.cardRight {
  @include desktop {
    transform: translateY(dpx(-38)) rotate(5deg);
  }
}

.cardBody {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  overflow: hidden;

  @include desktop {
    padding: dpx(14);
    border: dpx(2) solid #000;
    border-radius: dpx(60);
    box-shadow: dpx(0 17.177 51.53 0) rgba(36, 33, 83, 0.15);
    transition: transform var(--transition-main);
    cursor: pointer;

    &:hover {
      transform: scale(1.01);
    }
  }
}

.cardImgWrap {
  position: absolute;

  @include desktop {
    left: dpx(14);
    top: dpx(14);
    right: dpx(14);
    bottom: dpx(14);
  }
}

.cardImg {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  object-fit: cover;

  @include desktop {
    border-radius: dpx(48);
  }
}

.cardTitle {
  display: grid;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
  line-height: 130%;
  background: #ffe5f1;

  @include desktop {
    left: dpx(14);
    right: dpx(14);
    bottom: dpx(14);
    height: dpx(108);
    padding: dpx(20 22);
    font-size: dpx(24);
    border: dpx(2) solid #000;
    border-radius: dpx(46);
  }
}

.cardSelected,
.cardHidden {
  pointer-events: none;
}

.cardHidden {
  opacity: 0;

  &.cardLeft {
    transform: translateX(-100%) rotate(-20deg) scale(0.8);
  }
  &.cardRight {
    transform: translateX(100%) rotate(20deg) scale(0.8);
  }
}

.cardSelected {
  &.cardLeft {
    transform: translateX(32%) rotate(2deg) scale(1.15);
  }
  &.cardRight {
    transform: translateX(-32%) rotate(-2deg) scale(1.15);
  }
}

.cardSelected {
  .cardGlow {
    opacity: 1;
  }
}

//
.ending {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 0.4s ease-in-out;
  transition-property: transform, opacity;

  @include desktop {
    padding-top: dpx(104);
  }
}

.endingHidding {
  opacity: 0;
  transform: translateY(10vh);
  pointer-events: none;
}

.endingTitle {
  color: #002d50;
  font-family: 'Bebas Neue', 'Inter', sans-serif;
  font-weight: 700;
  line-height: 100%;
  text-align: center;

  @include desktop {
    margin-bottom: dpx(15);
    font-size: dpx(104);
  }
}

.emdingImageWrap {
  position: relative;

  @include desktop {
    width: dpx(720);
    height: dpx(622);
  }

  @include mobile {
    width: mpx(353);
    height: mpx(390);
  }

  > * {
    display: block;
    position: absolute;
  }
}

@keyframes loaderStarSmallAnim {
  0%,
  100% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
}
.loaderStarSmall {
  animation: loaderStarSmallAnim 6s ease-in-out infinite;

  @include desktop {
    left: dpx(249);
    top: dpx(0);
    width: dpx(102);
    height: dpx(102);
  }
}
.loaderStarMid {
  animation: loaderStarSmallAnim 5s ease-in-out infinite;

  @include desktop {
    left: dpx(135.98);
    top: dpx(403.98);
    width: dpx(160);
    height: dpx(160);
  }
}

@keyframes loaderStarBigAnim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loaderStarBig {
  animation: loaderStarBigAnim 30s linear infinite;

  @include desktop {
    left: dpx(293);
    top: dpx(220);
    width: dpx(332);
    height: dpx(332);
  }
}

.loaderAnim {
  left: 50%;
  transform: translateX(-50%);

  @include desktop {
    top: dpx(57);
    height: dpx(565);
  }
}
